body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    background-image: url("Gym2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}
/* logo */
.logo{
    height: 80px;
    padding: 20px ;
    
}
/* header bar */
header {
   background: rgba(231, 228, 228, 0.3);
   height: 120px;
   width: 98.7%;
   text-align: center;
   position: absolute;
   z-index: 999;  
}

/* check box disappear */
.nav-toggle{
    display: none;
}
/* burger menu position */
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    height: 100%;
    display: flex;
    align-items: center
}
/* burger menu design*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: yellow;
    height: 4px;
    width: 2.5em;
    border-radius: 12px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
content: "";
position: absolute;
}

.nav-toggle-label span::before{
    bottom: 12px;
}

.nav-toggle-label span::after{
    top: 12px;
}
/* Menu bar after clicking burger menu*/
nav {
 position: absolute;
 text-align: left;
 top: 100%;
 left: 0%;
 background: rgba(231, 228, 228, 0.3);
 width: 100%;
 transform: scale(1, 0);
 transform-origin: top;
 transition: transform 400ms ease-in-out;
}


nav ul {
margin: 0px;
padding: 12px;
list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 0em; 
}

/*after clicking on burger menu*/
nav a {
    color:yellow;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}


nav a:hover {
color:white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 350ms ease-in-out 250ms;
}

@media screen and (min-width: 800px)  {
    .nav-toggle-label {
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo{
        grid-column: 3 / 4;
        
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 1em;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: "";
        display: block;
        height: 5px;
        background: yellow;
        position: absolute;
        bottom: -1em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }

    
h1  {
    width: 300px;
    height: 60px;
    color:yellow;
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30%;
    padding-left: 40%;
    
}

h2  {
    width: 20px;
    height: 50px;
    color:yellow;
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: top;
    padding-left: 185%;
    padding-top: 0%;


}

p  {
    width: 100%;
    height: 150%;
    color: yellow;
    font-size: 2rem;
    text-align: center;
    padding-top: 20%;
    padding-left: 16%;


}

}   